{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    MyCallback
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-4">
            {% if current_user.is_authenticated %}
                {{ wtf.quick_form(form) }}
            {% else %}
                You need to login for using this tab.
            {% endif %}
        </div>
    </div>
    <style>
        .pagination-page-info {
            padding:  20px;
            padding-left: 0;
            width: 10em;
            margin: .5em;
            margin-left: 0;
            font-size: 18px;
        }
        .pagination-page-info b {
            color: black;
            background: #a5c9f3;
            padding-left: 2px;
            padding: .1em .25em;
            font-size: 100%;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #BFBFBF;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>

    {% if current_user.is_authenticated and pagination is defined %}
        {{ pagination.info }}
        <table>
            <tr>
              <th>#</th>
              <th>context_id</th>
              <th>call_id</th>
              <th>platform_id</th>
              <th>product_id</th>
              <th>account_id</th>
              <th>calling_number</th>
              <th>called_number</th>
              <th>answer_time</th>
              <th>destroy_time</th>
              <th>duration</th>
              <th>end_reason</th>
              <th>tariff_id</th>
              <th>provider_id</th>
              <th>service_id</th>
              <th>region_prefix</th>
              <th>call_info</th>
              <th>sum</th>
            </tr>
            {% for cdr in cdrs %}
              <tr>
                <td>{{ loop.index }}</td>
                <td>{{ cdr[0] }}</td>
                <td>{{ cdr[1] }}</td>
                <td>{{ cdr[2] }}</td>
                <td>{{ cdr[3] }}</td>
                <td>{{ cdr[4] }}</td>
                <td>{{ cdr[5] }}</td>
                <td>{{ cdr[6] }}</td>
                <td>{{ cdr[7] }}</td>
                <td>{{ cdr[8] }}</td>
                <td>{{ cdr[9] }}</td>
                <td>{{ cdr[10] }}</td>
                <td>{{ cdr[11] }}</td>
                <td>{{ cdr[12] }}</td>
                <td>{{ cdr[13] }}</td>
                <td>{{ cdr[14] }}</td>
                <td>{{ cdr[15] }}</td>
                <td>{{ cdr[16] }}</td>
                <td>{{ cdr[17] }}</td>
              </tr>
            {% endfor %}
        </table>
        {{ pagination.links }}
    {% endif %}


{% endblock %}